<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title> Houses </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content slot="start">
    <ion-button id="basic" expand="block" [routerLink]="['spartan']">Spartans</ion-button>
    <ion-button id="basic" expand="block">Infinite</ion-button>
    <ion-button id="basic" expand="block">Parikrma</ion-button>
    <ion-button id="basic" expand="block">Unicorns</ion-button>
  </ion-content>
  <ion-footer>
    <ion-toolbar> <ion-title>This is Footer</ion-title> </ion-toolbar>
  </ion-footer>
</ion-app>
